.aside-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 450px;
    box-sizing: border-box;
    position: relative;
}

.aside-menu .drawer-button {
    position: absolute;
    top: 20px;
    right: 0;
    padding: var(--container-padding);
}

.aside-menu .drawer-button svg {
    width: 35px;
    height: 35px;
}

.aside-menu .nav-element,
.aside-menu .nav-element:last-of-type {
    display: block;
    margin: 0 !important;
    margin-bottom: 30px !important;
    order: 2;
}

.aside-menu .wallets-button-container {
    display: block;
    order: 1;
    padding: 20px 0 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--default-color);
}