:root {
    --primary-font-color: #f3f3f3;
    --primary-background-color: #FAF0FF;
    --secondary-background-color: #DFCDEF;
    --navbar-height: 80px;
    --navbar-background-color: aliceblue;
    --default-color: #353535;
    --primary-accent-color: #3f50b5;
    --secondary-accent-color: #29113F;
    --inactive-element-color: #DBE3E7;
    --navbar-font-size: 20px;
    --default-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --container-padding: 0 50px;
    --footer-padding: 30px 10% 55px 10%;
    --snet-background-gradient: radial-gradient(40.49% 54.50% at 45.80% 18.10%, var(--primary-background-color) 0%, var(--secondary-background-color) 100%);
}

* {
    box-sizing: border-box;
    transition: .3s;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

#root {
    font-family: "Muli";
    font-weight: 500;
    overflow: auto;
}

main {
    width: 100%;
    height: 100vh;
    padding-top: calc(var(--navbar-height) + 25px) !important;
    padding: var(--container-padding);
    background: url("../../assets/images/background/background-pattern.png"), var(--snet-background-gradient);
}


@font-face {
    font-family: "Muli";
    src: url("../../assets//fonts/Muli-Regular.ttf");
}

@media (max-width: 950px) {
    :root {
        --container-padding: 0 30px;
    }

    .footer-column.primary {
        flex: auto !important;
        width: 100% !important;
    }
}