:root {
    --primary-background-color: #FAF0FF;
    --secondary-background-color: #DFCDEF;
    --navbar-height: 80px;
    --navbar-background-color: aliceblue;
    --default-color: #353535;
    --primary-accent-color: blue;
    --secondary-accent-color: purple;
    --navbar-font-size: 20px;
    --default-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    --container-padding: 0 50px;
}

* {
    transition: .3s;
    margin: 0;
    padding: 0;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

#root {
    font-family: "Muli";
    font-weight: 500;
    overflow: hidden;
}

@font-face {
    font-family: "Muli";
    src: url("../../assets//fonts/Muli-Regular.ttf");
}

@media (max-width: 950px) {
    :root {
        --container-padding: 0 30px;
    }
}
