.navigation-bar {
    height: var(--navbar-height);
    background-color: var(--navbar-background-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    font-size: var(--navbar-font-size);
    padding: var(--container-padding);
    box-shadow: var(--default-shadow);
}