.navigation-bar {
    height: var(--navbar-height);
    background-color: var(--navbar-background-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    font-size: var(--navbar-font-size);
    padding: var(--container-padding);
    box-shadow: var(--default-shadow);
}

.nav-element {
    height: 100%;
    align-items: center;
    display: flex !important;
    margin-right: 50px !important;
    text-decoration: none !important;
    color: var(--default-color) !important;
    font-weight: 500 !important;
    transition: .3s !important;
}

.nav-element:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: var(--secondary-accent-color) !important;
}

.nav-element:last-of-type {
    margin-right: auto !important;
}

.nav-element.active {
    color: var(--secondary-accent-color) !important;
    font-weight: 600 !important;
}

.nav-element img {
    height: 60%;
}