
.footer-column {
    padding: 20px;
}

.footer-column.primary {
    flex: 0 0 150px;
}

.footer-column ul {
    list-style: none;
}

.column-title {
    color: var(--primary-font-color);
    line-height: 50px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: default;
    pointer-events: none;
}

.column-title a {
    max-width: 150px;
    pointer-events: none;
}

.column-link {
    font-size: 14px;
    line-height: 24px;
    color: var(--inactive-element-color);
    text-decoration: none !important;
    opacity: 70%;
}

.column-link:hover {
    transform: scale(1.05);
    cursor: pointer;
    opacity: 100%;
    color: var(--primary-font-color);
}